.point {
    flex-grow: 0;
    background-color: rgba(0, 0, 0, 0);
    background-image: url('project://database/Assets/images/PuntoVacio.png?fileID=2800000&guid=9b0455b7e27b32c47a7cec87114f0a49&type=3#PuntoVacio');
    -unity-background-scale-mode: scale-to-fit;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 14px;
    margin-bottom: 5px;
    width: 15px;
    height: 15px;
    flex-shrink: 0;
}
